body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding:0;
    flex: 1;   
}

.hero{    
    background-color: #1F2937;
}
.hero, .info{   
    display: flex;
    flex-direction: column;
    align-items: center;
}      

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
.header h1{
    color: #f9faf9;
    font-size: 24px;
}
ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.header ul{ 
    display: flex;
    gap: 20px;
    
}
a{
    text-decoration: none;
    color:hsl(220, 13%, 91%);
}
button{
    background-color: #3882F6;
    color: #f9faf9;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}
img{
    width: 500px;
    height: 240px;
    background-color: darkgray;
}

.container{
    width: 900px;
    height: 240px;
    display: flex;
    padding: 100px 0px;
    justify-content: space-between; 
}
.text h1{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 10px 0 0;
}
.text p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0 0 20px;
}
 
.info h1{
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 30px 0 ;
}
.placeholder{
    width: 150px;
    height: 150px;
    border: 5px solid #3882F6;
    border-radius: 10%;
}
.info ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
}
.paragraph{
    text-align: center;
    width: 160px;
    color:#676869;
}

.quote{
    font-size: 24px;
    background: #e5e7eb;
   margin: auto;
    padding: 40px;
    display: block;
}
.quote p{
    width: 900px;
    font-size: 36px;
    font-style:italic;
    color: #1F2937;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}

strong{
    margin-bottom: 40px;
    margin-right: auto;
}

.action{
    background-color: #3882F6;
    margin:  100px auto;
    width: 900px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    
}

.sign{
    margin: 0;
    color: #f9faf8;
    margin-left:100px

}
.action button{
    border: 2px solid #f9faf8;
    margin-right: 100px;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: #f9faf8;
    padding: 10px;
}